/* Overall (work sans) fonts from google fonts */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
nav>ul{
    display: flex;
}
nav>ul li{
    list-style: none;
}
nav>ul li a{
    padding-right: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}
/* Nav style end */
/* Banner style start */
.banner-content{
    text-align: center;
}