/* Overall (work sans) fonts from google fonts */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

/* Overall design */

*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}
main{
    max-width: 1140px;
    margin: 50px auto;
}

/* Header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
nav>ul{
    display: flex;
}
nav>ul li{
    list-style: none;
}
nav>ul li a{
    padding-right: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}
/* Nav style end */
/* Banner style start */
.banner-content{
    text-align: center;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner img{
    width: 100%;
    margin-top: 30px;
}

/* Team section design starts from here */
.team-container{
    /* margin-left: 120px;
    margin-right: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    padding-right: 60px;
}
.team-title .gray-text{
    color: #727272;
    font-size: 3rem;
    font-weight: 500;  
}
.team-title .of-our{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
.team-title .feature-text{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}
.team-description{
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 10px;
}
/* Team section design end */


/* Facts section design starts */

.fact-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.fact-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.fact-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.fact-card-box1{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 2rem 1.75rem;
}

.fact-card-box-title{
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
}
.fact-card-box-description{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Sponsor section design */

.sponsor-title{
    text-align: center;
    padding-bottom: 3rem;
}

.sponsor-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Footer section Design */

footer{
    border-radius: 5px;
    background: #FFF4E7;
    max-width: 1140px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Responsive Media quiry */
/* For mobile */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px 10px;
    }
    .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1 , 1fr);
        padding-right: 0px;
    }
    .team-title-container{
        text-align: center;
        padding-top: 10px;
    }
    .fact-card-container{
        flex-direction: column;
        gap: 1rem;
    }
    .sponsor-logo{
        flex-direction: column;
        gap: 2rem;
    }
}

/* For tablet and medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px 30px;
    }
    .team-container{
        flex-direction: column;
    }
    .team-img-container{
        padding-right: 0px;
    }
    .team-title-container{
        text-align: center;
        padding-top: 10px;
    }
}