/* Overall (work sans) fonts from google fonts */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

/* Overall design */

*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
}

/* Header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
nav>ul{
    display: flex;
}
nav>ul li{
    list-style: none;
}
nav>ul li a{
    padding-right: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}
/* Nav style end */
/* Banner style start */
.banner-content{
    text-align: center;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner img{
    width: 100%;
    margin-top: 30px;
}